<div class="CRABS_card CRABS_key_card" style="--player-color: {{KeyColor}}; --key-color: {{KeyColor}};">
  <span class="CRABS_bracket_marker" aria-hidden="true">[</span>
  <div class="CRABS_card_badge">
    {{KeyIcon}}
  </div>
  <div class="CRABS_player-header" style="flex: 1; margin-left: 6px;">
    <span class="CRABS_player-name" style="cursor: default;">
      {{KeyLabel}}
    </span>
  </div>
  <button type="button" class="CRABS_btn CRABS_drop_key_btn" data-key="{{KeyType}}">
    {{DropButtonLabel}}
  </button>
</div>
