<div class="CRABS_wrapper">
<table class="CRABS_banner">
    <tbody>
        <tr>
            <td>{{Logo}}</td>
            <td>{{Name}}</td>
            <td>{{Version}}</td>
        </tr>
        <tr>
            <td colspan=3 style="color: {{LabelColor}}">{{PlayerPermission}}</td>
        </tr>
    </tbody>
</table>
Room: {{RoomName}}
{{RosterCounters}}
Use /roster to see the full output
</div>





<div class="CRABS_wrapper">
<table class="CRABS_banner">
    <tbody>
        <tr>
            <td><img alt="CRABS" src="https://sin-1337.github.io/CRABS/CRABS_Logo.png" height="100px" width="100px"></td>
            <td>Crazy Roster Add-on By Sin</td>
            <td>1.0.0.141 Alpha</td>
        </tr>
        <tr>
            <td colspan="3" style="color: #000000">Owner, Lovers and whitelist only (3)</td>
        </tr>
        </tbody>
</table>
    Room: The Den of Sin
    <table class="CRABS_room-status">
    <tbody>
        <tr>
            <td><div class="CRABS_tooltip-wrapper"><img alt="admin" src="https://sin-1337.github.io/CRABS/icons/admin.svg" class="CRABS_tooltip-image"><div class="CRABS_tooltip">Admins</div></div>2/3</td>
            <td><div class="CRABS_tooltip-wrapper"><img alt="player" src="https://sin-1337.github.io/CRABS/icons/player.svg" class="CRABS_tooltip-image"><div class="CRABS_tooltip">Players</div></div>2/20</td>
            <td><div class="CRABS_tooltip-wrapper"><img alt="friend" src="https://sin-1337.github.io/CRABS/icons/friends.svg" class="CRABS_tooltip-image"><div class="CRABS_tooltip">Friends</div></div>1/1</td>
            <td><div class="CRABS_tooltip-wrapper"><img alt="connected" src="https://sin-1337.github.io/CRABS/icons/connected.svg" class="CRABS_tooltip-image"><div class="CRABS_tooltip">Online Accounts</div></div>756</td>
            <td><img alt="keyNull" src="https://sin-1337.github.io/CRABS/icons/keyNull.svg" class="CRABS_tooltip-image"><img alt="keyNull" src="https://sin-1337.github.io/CRABS/icons/keyNull.svg" class="CRABS_tooltip-image"><img alt="keyNull" src="https://sin-1337.github.io/CRABS/icons/keyNull.svg" class="CRABS_tooltip-image"></td>
        </tr>
    </tbody>
</table>Use /roster to see the full output</div>
