<table class="CRABS_banner">
    <tbody>
        <tr>
            <td>{{Logo}}</td>
            <td>{{Name}}</td>
            <td>{{Version}}</td>
        </tr>
        <tr>
            <td colspan=3><br><br>Item Permission:</td>
        </tr>
        <tr>
            <td colspan=3 style="text-shadow: 1px 1px 2px white; color: {{LabelColor}}">{{PlayerPermission}}</td>
        </tr>
    </tbody>
</table>
<div style="text-align: center">Room: {{RoomName}}
{{RosterCounters}}
<hr>
Use /roster to see the full output
