.CRABS_banner {
    width: 100% !important;
    border-collapse: collapse;
    color: white;
}

.CRABS_banner > tbody > tr > td {
    padding: 2px;
    text-align: center;
    width: auto;
    height: auto;
    color: white;
}

.CRABS_banner_roomname_wrapper {
}

.CRABS_banner_RosterCounters_wrapper {
}

.CRABS_banner_footer {
}

.CRABS_banner_URL {
}
