<div id="crabs-drawer" class="drawer-closed">
  <div id="drawer-tab">
    <img src="https://sin-1337.github.io/CRABS/images/CRABS_Logo.png" alt="Open">
  </div>
  <div class="drawer-content CRABS_wrapper">
    <div class="CRABS_wrapper_header">
      <table style="width: 100%; table-layout: auto;">
        <tr>
          <td style="white-space: nowrap;">{{Help}}</td>
          <td id="drawer-title" style="width: 100%; text-align: center;">{{TitleBar}}</td>
          <td style="white-space: nowrap;">{{Close}}</td>
        </tr>
      </table>
    </div>
    <div class="CRABS_wrapper_content">
      <div id="CRABS_Roster">
      </div>
    </div>
  </div>
</div>
