<div class="CRABS_roster_center_table">
    <div class="CRABS_roster_table_shrink">
        <table class="CRABS_room-status">
            <tbody>
                <tr>
                    <td>
                        <span class="CRABS_roster_cell-content">
                            {{adminIcon}}{{adminsInRoom}}/{{totalAdmins}}
                        </span>
                    </td>
                    <td>
                        <span class="CRABS_roster_cell-content">
                            {{playerIcon}}{{playersInRoom}}/{{totalPlayers}}
                        </span>
                    </td>
                    <td>
                        <span class="CRABS_roster_cell-content">
                            {{friendIcon}}{{friendsOnline}}/{{totalFriends}}
                        </span>
                    </td>
                    <td style="border-right:{{online_players_border}}">
                        <span class="CRABS_roster_cell-content">
                            {{connectedIcon}}{{onlinePlayers}}
                        </span>
                    </td>
                    {{collectedKeys}}
                </tr>
            </tbody>
        </table>
        <div class="CRABS_card-container">
            {{playerRows}}
        </div>
    </div>
</div>
