.CRABS_room-status {
  width: 100% !important;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
}

.CRABS_room-status > tbody > tr > td {
    padding: 5px;
    text-align: center;
    width: calc(100% / var(--col-count, 4));
    height: auto;
    border-right: 1px solid #ccc; /* Add left border */
}

.CRABS_card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.CRABS_card {
    border-radius: 8px;
    padding: 1rem;
    width: 99%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}
