<hr>
<table class="CRABS_room-status">
    <tbody>
        <tr>
            <td>{{adminIcon}}{{adminsInRoom}}/{{totalAdmins}}</td>
            <td>{{playerIcon}}{{playersInRoom}}/{{totalPlayers}}</td>
            <td>{{friendIcon}}{{friendsOnline}}/{{totalFriends}}</td>
            <td>{{connectedIcon}}{{onlinePlayers}}</td>
            {{collectedKeys}}
        </tr>
        <tr>
            <td colspan="{{columncount}}">
                <table class="CRABS_roster-players">
                    <tbody>
                        {{playerRows}}
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<hr>
