.CRABS_room-status {
  width: 100% !important;
  table-layout: fixed;
  border-collapse: collapse;
  color: white;
}

.CRABS_room-status > tbody > tr > td {
    padding: 5px;
    text-align: center;
    width: calc(100% / var(--col-count, 4));
    height: auto;
    border-right: 1px solid #ccc; /* Add left border */
}

.CRABS_card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.CRABS_card {
    border-radius: 8px;
    padding: 2px;
    width: 99%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.CRABS_player-id {
    cursor: pointer;
    font-family: Arial,sans-serif;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
    white-space: nowrap;
}

.CRABS_overflow-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.CRABS_overflow-scroll {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 0;
  transition: transform 10s linear;
}

/* animate on hover */
.CRABS_overflow-wrapper:hover .CRABS_overflow-scroll {
    transform: translatex(-100);
}

.CRABS_player-icons {
    height: 1em;         /* Set the cell height */
    min-height: 1em;     /* Enforce the minimum height */
    line-height: 1em; 
}

