<table class="CRABS_banner">
    <tbody>
        <tr>
        </tr>
        <tr>
            <td class="CRABS_banner_logo_container">{{Logo}}</td>
            <td>
                <label for="CRABS_permission_select" class="CRABS_dropdown_label">Item Permission:</label><br>
                <select id="CRABS_permission_select" class="CRABS_dropdown">
                    {{PermissionOptions}}
                </select>
            </td>
            <td class="CRABS_banner_logo_container"></td>
        </tr>
        <tr>
            <td colspan=3>Room: {{RoomName}}</td>
        </tr>
        <tr>
            <td colspan=3>{{RosterCounters}}<hr></td>
        </tr>
        <tr>
            <td colspan=3>Use <a class="CRABS_banner_rosterlink" data-action="print-roster">/roster</a> to see the full output</td>
        </tr>
    </tbody>
</table>
