<table class="CRABS_banner">
  <tbody>
    <tr>
      <td class="CRABS_banner_logo_container">{{Logo}}</td>
      <td>
        <label for="CRABS_permission_select" class="CRABS_dropdown_label">{{t:labels.item_permission}}:</label><br>
        <select id="CRABS_permission_select" class="CRABS_dropdown">
          {{PermissionOptions}}
        </select>
      </td>
      <td class="CRABS_banner_logo_container"></td>
    </tr>
    <tr>
      <td colspan="3">{{t:labels.room}}: <span style="color: {{LabelColor}}; font-weight: bold;">{{RoomName}}</span></td>
    </tr>
    <tr>
      <td colspan="3">{{RosterCounters}}<hr></td>
    </tr>
    <tr>
      <td colspan="3">{{t:labels.roster_hint_prefix}} <a class="CRABS_banner_rosterlink" href="javascript:void(0);" data-action="print-roster">/roster</a> {{t:labels.roster_hint_suffix}}</td>
    </tr>
  </tbody>
</table>
